.navbar {
  background-color: #38393D;
  color: white;
  padding: .3rem .8rem;

}

.container.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 15px;
  font-weight: normal;
}
